## KNN Imputer
- works on KNN algo
- more accurate
- more no of calculation
- need training set on server
- smaller dataset ke liye better hai
- slow process

In [36]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.impute import KNNImputer,SimpleImputer
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [37]:
df= pd.read_csv(r"C:\Users\Admin\Documents\Jupyter Notebook\Machine Learning (CampusX)\Dataset\train.csv",usecols=['Age','Pclass','Fare','Survived'])

In [38]:
df.head()

   Survived  Pclass   Age     Fare
0         0       3  22.0   7.2500
1         1       1  38.0  71.2833
2         1       3  26.0   7.9250
3         1       1  35.0  53.1000
4         0       3  35.0   8.0500

In [39]:
X_train,X_test,y_train,y_test = train_test_split(df.drop('Survived',axis=1),df['Survived'],test_size=0.3,random_state=0)

In [40]:
X_train.shape,X_test.shape

((623, 3), (268, 3))

In [41]:
df.isnull().mean()*100

Survived     0.00000
Pclass       0.00000
Age         19.86532
Fare         0.00000
dtype: float64

In [42]:
knn = KNNImputer(n_neighbors=1,weights='distance')##by default neighbours are 5 
X_train_trf = knn.fit_transform(X_train)
X_test_trf = knn.transform(X_test)

In [43]:
pd.DataFrame(X_train_trf,columns=X_train.columns)

     Pclass   Age     Fare
0       1.0  51.0  26.5500
1       1.0  49.0  76.7292
2       3.0   1.0  46.9000
3       1.0  54.0  77.2875
4       3.0  17.0  14.4583
..      ...   ...      ...
618     1.0  39.0  83.1583
619     3.0  19.0   7.8542
620     3.0  21.0   7.7333
621     3.0  36.0  17.4000
622     2.0  60.0  39.0000

[623 rows x 3 columns]

In [44]:
X_train

     Pclass   Age     Fare
857       1  51.0  26.5500
52        1  49.0  76.7292
386       3   1.0  46.9000
124       1  54.0  77.2875
578       3   NaN  14.4583
..      ...   ...      ...
835       1  39.0  83.1583
192       3  19.0   7.8542
629       3   NaN   7.7333
559       3  36.0  17.4000
684       2  60.0  39.0000

[623 rows x 3 columns]

In [45]:
lr = LogisticRegression()

lr.fit(X_train_trf,y_train)

y_pred = lr.predict(X_test_trf)

print("accuracy_score:",accuracy_score(y_pred,y_test))

accuracy_score: 0.7201492537313433

In [46]:
## SimpleImputer

In [47]:
si = SimpleImputer()

X_train_trf1 = knn.fit_transform(X_train)
X_test_trf1 = knn.transform(X_test)

In [48]:
lr1 = LogisticRegression()

lr1.fit(X_train_trf1,y_train)

y_pred1 = lr1.predict(X_test_trf1)

print("accuracy_score:",accuracy_score(y_pred1,y_test))

accuracy_score: 0.7201492537313433